<center>Fajny Bank s.a. </center>
{% if account_list %}
    <table border>
    {% for account in account_list %}
    <tr><td>Account</td></tr>
    <tr><td>Account number: </td> <td>{{ account.account_number}}</td></tr>
    <tr><td>Account type: </td> <td>{{ account.account_type}}</td></tr>
    <tr><td>Balance: </td> <td>{{ account.balance}}</td></tr>
    <tr><td>Card: </td> <td>{{ account.card}}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No accounts are available.</p>
{% endif %}
