<center>Fajny Bank s.a. </center>
{% if client_list %}
    <table border>
    {% for client in client_list %}
        <tr><td>Client</td></tr>
        <tr><td>First name:</td><td>{{ client.first_name }}</td></tr>
        <tr><td>Last name:</td><td>{{ client.last_name }}</td></tr>
        <tr><td>PESEL:</td><td>{{ client.pesel }}</td></tr>
        <tr><td>Address:</td><td>{{ client.address }}</td></tr>
        <tr><td>Accounts:</td><td>{{ client.accounts }}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No clients are available.</p>
{% endif %}
